{{> welcome-menu}}

<section class="section">
  <p> Hi Welcome to Geo Tag the way point logging site, Sign up or Log in... </p>
  <div class="columns">
    <div class="column">
        <img src="https://cdn.glitch.global/1a047c1a-b7ac-4d70-8bf9-c3aedd78d673/logo_1.jpg?v=1675865561781" alt="Geo Tag Logo 1" style="width:800px;height:600px;">
        <a href="https://www.freepik.com/free-vector/people-holding-travel-related-icons_3226129.htm#query=geotag&position=7&from_view=keyword">Image by rawpixel.com</a> on Freepik
    </div>
    <div class="column">
        <img src="https://cdn.glitch.global/1a047c1a-b7ac-4d70-8bf9-c3aedd78d673/4943726.jpg?v=1675866171596" alt="Geo Tag Logo 2" style="width:800px;height:600px;">
        <a href="https://www.freepik.com/free-vector/people-holding-travel-related-icons_3226129.htm#query=geotag&position=7&from_view=keyword">Image by rawpixel.com</a> on Freepik
    </div>
  </div>
</section>
